* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightsalmon;
}

.container {
    height: 88vh;
    justify-content: space-between;
}

.screen {
    height: 15px;
    width: 32%;
    margin: 0 auto;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background-color: royalblue;
}

h2 {
    display: inline-block;
}

.text {
    text-align: center;
    padding: 30px;
}

.seating-area {
    width: 90%;
    height: 82vh;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 8px;
    border-radius: 2px;
}

.seat:hover {
    background-color: blueviolet;
    opacity: 0.5;
}

.seat.booked {
    background-color: green;
    opacity: 0.6;
}