my_class {
    font: size 40px;
    font-family: ' Time New Roman ', Time, Serif;
    color: blue;
    font-size: x-large;
}

my_id {
    color: blue;
    font-weight: bold;
}

div {
    font: size 70px;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aquamarine;
}